/* Global Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Using Poppins font */
    background-color: #F0F4F8;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    width: 20%;
    height: 100vh; /* Tinggi sidebar sama dengan tinggi viewport */
    position: fixed; /* Menetapkan posisi tetap */
    top: 0; /* Menempatkan sidebar di bagian atas */
    left: 0; /* Menempatkan sidebar di sisi kiri */
    background-color: #D3D3D3;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    float: left;
}

.logo-container {
    display: flex;
    align-items: center; /* Center align items */
    margin-bottom: 20px; /* Space below logo */
}

.logo-container img {
    margin-right: 10px; /* Space between logo and text */
}

.logo-text {
    display: flex;
    flex-direction: column; /* Text will be stacked */
}

.logo-text h1 {
    font-size: 18px;
    margin: 0;
}

.logo-text p {
    font-size: 12px;
    margin: 0;
}

.separator {
    height: 1px; /* Tinggi separator yang lebih kecil */
    background-color: rgba(169, 169, 169, 0.7); /* Warna abu-abu dengan transparansi */
    margin: 20px 0; /* Margin atas dan bawah untuk memberikan jarak */
    transition: background-color 0.3s ease; /* Efek transisi saat warna berubah */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); /* Efek bayangan */
}

.separator:hover {
    background-color: rgba(169, 169, 169, 1); /* Warna abu-abu lebih gelap saat hover */
}

.btn-kelola-menu {
    background-color: #A300BD;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 85%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

/* Main Content Styles */
.main-content {
    margin-top: 65px; /* Menambahkan margin atas untuk menghindari tumpang tindih dengan header */
    margin-left: 20%; /* Menambahkan margin kiri untuk menghindari tumpang tindih dengan sidebar */
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

/* Header Styles */
.header {
    position: fixed; /* Menetapkan posisi tetap */
    top: 0; /* Menempatkan header di bagian atas */
    left: 20%; /* Menggeser header ke kanan agar tidak tertutup oleh sidebar */
    width: 80%; /* Mengatur lebar header */
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center; /* Memusatkan konten secara horizontal */
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    height: 65px;
    margin: 0; /* Menghilangkan margin */
    padding: 10px 20px; /* Menambahkan padding jika diperlukan, sesuaikan sesuai kebutuhan */
    z-index: 1000; /* Memastikan header berada di atas konten lainnya */
    

}
  

.header h2 {
    margin: 0;
    font-size: 18px;
    text-align: center
 
}

/*.header .profile-icon {
    font-size: 24px;
    color: #FF00FF;
}


/* Container Styles */
.form-container {
    background-color: white; /* Latar belakang putih untuk form */
    padding: 20px; /* Padding di dalam form */
    border-radius: 8px; /* Sudut membulat */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan halus */
    width: 600px; /* Lebar form */
    margin: 20px auto; /* Margin otomatis untuk memusatkan form */
}

.form-container h1 {
    text-align: center; /* Teks judul di tengah */
    font-size: 18px; /* Ukuran font judul */
    font-weight: 600; /* Tebal font judul */
    margin-bottom: 20px; /* Jarak bawah judul */
}

/* Form Group Styles */
.form-group {
    margin-bottom: 15px; /* Jarak bawah antar elemen form */
    margin-right: 20px;
    font-family: 'Poppins', sans-serif; 
}

.form-group label {
    display: block; /* Membuat label menjadi blok */
    margin-bottom: 5px; /* Jarak bawah label */
    font-size: 14px; /* Ukuran font label */
    font-weight: 400; /* Berat font label */
    font-family: 'Poppins', sans-serif; 
}

.form-group input,
.form-group textarea {
    width: 100%; /* Lebar penuh */
    margin-right: 10px;
    padding: 10px; /* Padding di dalam input */
    border: 1px solid #ccc; /* Garis batas abu-abu */
    border-radius: 4px; /* Sudut membulat */
    background-color: #d3d3d3; /* Warna latar belakang input */
    font-size: 14px; /* Ukuran font input */
    font-family: 'Poppins', sans-serif; /* Font Poppins */
}

.form-group textarea {
    resize: none; /* Menonaktifkan resize textarea */
    height: 100px; /* Tinggi textarea */
}

/* Total Group Styles */
.form-group-total {
    display: flex; /* Menggunakan flexbox untuk mengatur elemen dalam satu baris */
    gap: 30px; /* Menambahkan jarak antara kontainer */
    margin-right: 20px;
}

.total-harga-container,
.status-pembayaran-container {
    display: flex;
    flex-direction: column; /* Mengatur label dan input dalam kolom */
    flex: 1; /* Membuat kontainer mengisi ruang yang tersedia */
}

.total-harga-container label,
.status-pembayaran-container label {
    margin-bottom: 5px; /* Jarak antara label dan input */
    font-size: 14px; /* Ukuran font label diatur ke 14px */
    font-family: 'Poppins', sans-serif; /* Font Poppins */
}

#total-harga,
#status-pembayaran {
    width: 100%; /* Mengatur lebar input menjadi 100% untuk mengisi ruang kontainer */
    padding: 10px; /* Padding di dalam input */
    margin-right: 10px;
    border: 1px solid #ccc; /* Garis batas abu-abu */
    border-radius: 4px; /* Sudut membulat */
    background-color: #d3d3d3; /* Warna latar belakang */
    font-size: 14px; /* Ukuran font input */
    font-family: 'Poppins', sans-serif; /* Font Poppins */
}

.button-container {
    margin-top: 20px; /* Jarak atas untuk memisahkan dari elemen di atas */
    text-align: center; /* Memusatkan tombol di dalam kontainer */
}

.btn-konfirmasi {
    width: 100%; /* Mengatur lebar tombol menjadi 100% */
    padding: 10px; /* Padding untuk tombol */
    background-color: #A300BD; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none; /* Menghilangkan border default */
    border-radius: 5px; /* Sudut melengkung untuk tampilan yang lebih modern */
    cursor: pointer; /* Mengubah kursor saat hover */
    transition: background-color 0.3s; /* Transisi saat hover */
    font-size: 16px; /* Ukuran font tombol */
}

.btn-konfirmasi:hover {
    background-color: #8E00A3; /* Warna lebih gelap saat hover */
}

.informasi-pesanan {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto; /* Menambahkan margin atas dan bawah */
    display: flex; /* Menggunakan flexbox */
    flex-direction: column; /* Mengatur arah flex menjadi kolom */
    align-items: stretch; /* Memastikan elemen mengisi lebar kontainer */
    height: 450px; /* Menetapkan tinggi tetap */
    overflow-y: auto; /* Menambahkan scroll jika konten melebihi tinggi */
}

.order-info {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-grow: 1; /* Memungkinkan elemen ini untuk tumbuh dan mengisi ruang */
}
.header-info {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.order-info table {
    width: 100%;
}
.order-info th, .order-info td {
    text-align: left;
    padding: 5px;
}
.order-info th {
    font-weight: bold;
}
.order-info td {
    padding-left: 20px;
}
.estimate {
    margin-bottom: 20px;
}
.estimate select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.estimate button {
    width: 100%;
    padding: 10px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.confirm-button {
    text-align: center;
}
.confirm-button button {
    width: 50%;
    padding: 10px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

