/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-container h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.login-container h2 {
    margin: 10px 0 20px;
    font-size: 18px;
    font-weight: bold;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

.login-container a {
    color: #800080;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #800080;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* styles.css */
.password-container {
    position: relative;
    display: flex;
    align-items: center; /* Menjaga ikon mata tetap di tengah secara vertikal */

    
}
.username-container {
    position: relative;
    display: flex;
    align-items: center; /* Menjaga ikon mata tetap di tengah secara vertikal */
}

.login-container input[type="password"],
.login-container input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Tambahkan padding kanan untuk memberi ruang pada ikon */
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3;
    font-size: 14px;
}

.toggle-password {
    margin-left: -30px; /* Atur margin kiri untuk menggeser ikon ke kiri */
    cursor: pointer;
    color: #800080; /* Warna ikon */
    margin-bottom: 15px;
}


/* ... kode CSS lainnya ... */